<div *ngIf="!loading">
  <div class="row">
    <div class="col-12 col-md-6">
      <nb-card>
        <nb-card-header>
          {{address.address}}
        </nb-card-header>
        <nb-list>
          <nb-list-item>
            <div class="col-md-4">
              Balance
            </div>
            <div class="col-md-8">
              {{address.etpBalance | decimals : [18,18]}} ETP
            </div>
          </nb-list-item>
          <nb-list-item>
            <div class="col-md-4">
              Value
            </div>
            <a class="col-md-8">
              {{ address.etpBalance*price.current_USD | decimals : [18,2] }} USD
            </a>
          </nb-list-item>
        </nb-list>
      </nb-card>
    </div>
    <!--div class="col-12 col-md-6">
      <nb-card>
        QR Code
      </nb-card>
    </div-->
  </div>

  <div class="row">
    <div class="col-12">
      <nb-card>
        <nb-tabset>
          <nb-tab class="noPadding" tabTitle="Transactions">
            <nb-list *ngIf="!(address.transactions && address.transactions.length > 0)">
              <nb-list-item>
                No transactions for this address
              </nb-list-item>
            </nb-list>
            <nb-list *ngIf="address.transactions && address.transactions.length > 0">
              <nb-list-item>
                <div class="col-md-3">
                  Hash
                </div>
                <div class="col-md-3 break-dots">
                  From
                </div>
                <div class="col-md-1 break-dots">
                </div>
                <div class="col-md-3 break-dots">
                  To
                </div>
                <div class="col-md-2" style="text-align: right;">
                  Value
                </div>
              </nb-list-item>
              <nb-list-item *ngFor="let tx of address.transactions">
                <a class="col-md-3 break-dots" [routerLink]="'../../tx/'+tx.hash">
                  {{ tx.hash }}
                </a>
                <a class="col-md-3 break-dots" [routerLink]="'../'+tx.from">
                  {{ tx.from }}
                </a>
                <div class="col-md-1" style="text-align: center;">
                  <nb-icon [icon]="'arrow-forward-outline'"></nb-icon>
                </div>
                <a class="col-md-3 break-dots" [routerLink]="'../'+tx.to">
                  {{ tx.to }}
                </a>
                <div class="col-md-2" style="text-align: right;">
                  {{ tx.value | decimals : [18, 6]}} ETP
                </div>

              </nb-list-item>
            </nb-list>
          </nb-tab>
          <nb-tab *ngIf="address.mstTransfers && address.mstTransfers.length > 0" class="noPadding" tabTitle="MST Transfers">
            <nb-list>
              <nb-list-item>
                <div class="col-md-4 break-dots">
                  From
                </div>
                <div class="col-md-1 break-dots">
                </div>
                <div class="col-md-4 break-dots">
                  To
                </div>
                <div class="col-md-3" style="text-align: right;">
                  Value
                </div>
              </nb-list-item>
              <nb-list-item *ngFor="let tx of address.mstTransfers">
                <a class="col-md-4 break-dots" [routerLink]="'../'+tx.from">
                  {{ tx.from }}
                </a>
                <div class="col-md-1" style="text-align: center;">
                  <nb-icon [icon]="'arrow-forward-outline'"></nb-icon>
                </div>
                <a class="col-md-4 break-dots" [routerLink]="'../'+tx.to">
                  {{ tx.to }}
                </a>
                <div class="col-md-3" style="text-align: right;">
                  {{ tx.value | decimals : [tx.tokenInfo.decimals, 6]}} {{tx.tokenInfo.symbol}}
                </div>

              </nb-list-item>
            </nb-list>
          </nb-tab>
        </nb-tabset>
      </nb-card>
    </div>

  </div>
