<div *ngIf="!loading">
  <div class="row">
    <div class="col-12 col-md-6">
      <nb-card>
        <nb-card-header>
          {{address.address}}
        </nb-card-header>
        <nb-list>
          <nb-list-item>
            <div class="col-md-4">
              Balance
            </div>
            <div class="col-md-8">
              {{address.etpBalance | decimals : [18,18]}} ETP
            </div>
          </nb-list-item>
          <nb-list-item>
            <div class="col-md-4">
              Value
            </div>
            <a class="col-md-8">
              {{ address.etpBalance*price.current_USD | decimals : [18,2] }} USD
            </a>
          </nb-list-item>
        </nb-list>
      </nb-card>
    </div>
    <div *ngIf="address.contract" class="col-12 col-md-6">
      <!-- {{address.contract|json}} -->
      <nb-card>
        <nb-card-header>
          Smart Contract
        </nb-card-header>
        <nb-list>
          <nb-list-item *ngIf="address.contract.contractName">
            <div class="col-md-4">
              Name
            </div>
            <div class="col-md-8 break-dots">
              {{ address.contract.contractName }}
            </div>
          </nb-list-item>
          <nb-list-item *ngIf="address.contract.logoURI">
            <div class="col-md-4">
              Icon
            </div>
            <div class="col-md-8 break-dots">
              <img [src]="address.contract.logoURI" [alt]="'icon '+address.contract.contractName" class="contract-icon">
            </div>
          </nb-list-item>
          <nb-list-item>
            <div class="col-md-4">
              Creation Transaction
            </div>
            <a class="col-md-8 break-dots mono" [routerLink]="'../../tx/'+address.contract.creationTransaction.hash">
              {{ address.contract.creationTransaction.hash }}
            </a>
          </nb-list-item>
          <nb-list-item>
            <div class="col-md-4">
              Creator
            </div>
            <a class="col-md-8 break-dots mono"
              [routerLink]="'../../address/'+address.contract.creationTransaction.from">
              {{ address.contract.creationTransaction.from }}
            </a>
          </nb-list-item>
          <nb-list-item>
            <div class="col-md-4">
              Created At
            </div>
            <div class="col-md-8 break-dots">
              {{ address.contract.creationTransaction.confirmedAt * 1000 | date : 'medium' }}
            </div>
          </nb-list-item>
        </nb-list>
      </nb-card>
    </div>
    <!--div class="col-12 col-md-6">
      <nb-card>
        QR Code
      </nb-card>
    </div-->
  </div>

  <div class="row">
    <div class="col-12">
      <nb-card>
        <nb-tabset (changeTab)="onChangeTab($event)">
          <nb-tab class="noPadding" tabTitle="{{tabsTitles[0]}}">
            <nb-list *ngIf="!(transactions && transactions.length > 0)">
              <nb-list-item>
                No transactions for this address
              </nb-list-item>
            </nb-list>
            <nb-list *ngIf="transactions && transactions.length > 0" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="0" (scrolled)="scrollTx()">
              <nb-list-item>
                <div class="col-md-3">
                  Transaction
                </div>
                <div class="col-md-3 break-dots">
                  From
                </div>
                <div class="col-md-1 break-dots">
                </div>
                <div class="col-md-3 break-dots">
                  To
                </div>
                <div class="col-md-2" style="text-align: right;">
                  Date
                </div>
              </nb-list-item>
              <nb-list-item *ngFor="let tx of transactions">
                <a class="col-md-3 break-dots mono" [routerLink]="'../../tx/'+tx.hash">
                  {{ tx.hash }}
                </a>
                <a class="col-md-3 break-dots mono" [routerLink]="'../'+tx.from">
                  {{ tx.from }}
                </a>
                <div class="col-md-1" style="text-align: center;">
                  <div *ngIf="tx.value && tx.value > 0">{{ tx.value | decimals : [18, 6]}} ETP</div>
                  <nb-icon [icon]="'arrow-forward-outline'"></nb-icon>
                </div>
                <a class="col-md-3 break-dots mono" [routerLink]="'../'+tx.to">
                  {{ tx.to }}
                </a>
                <div class="col-md-2" style="text-align: right;">
                  {{ tx.confirmedAt * 1000 | date : 'short'}}
                </div>
              </nb-list-item>
            </nb-list>
          </nb-tab>
          <nb-tab *ngIf="mstTransfers && mstTransfers.length > 0" class="noPadding" tabTitle="{{tabsTitles[1]}}">
            <nb-list infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="0" (scrolled)="scrollMst()">
              <nb-list-item>
                <div class="col-md-3 break-dots">
                  Transaction
                </div>
                <div class="col-md-3 break-dots">
                  From
                </div>
                <div class="col-md-1 break-dots">
                </div>
                <div class="col-md-3 break-dots">
                  To
                </div>
                <div class="col-md-2" style="text-align: right;">
                  Date
                </div>
              </nb-list-item>
              <nb-list-item *ngFor="let tx of mstTransfers">
                <a class="col-md-3 break-dots mono" [routerLink]="'../'+tx.from">
                  {{ tx.transactionHash }}
                </a>
                <a class="col-md-3 break-dots mono" [routerLink]="'../'+tx.from">
                  {{ tx.from }}
                </a>
                <div class="col-md-1" style="text-align: center;">
                  <div *ngIf="tx.value && tx.value > 0">{{ tx.value | decimals : [tx.tokenInfo.decimals, 6]}} {{tx.tokenInfo.symbol}}</div>
                  <nb-icon [icon]="'arrow-forward-outline'"></nb-icon>
                </div>
                <a class="col-md-3 break-dots mono" [routerLink]="'../'+tx.to">
                  {{ tx.to }}
                </a>
                <a class="col-md-2" style="text-align: right;" [routerLink]="'../../block/'+tx.blockNumber">
                  {{ tx.confirmedAt * 1000 | date : 'short'}}
                </a>
              </nb-list-item>
            </nb-list>
          </nb-tab>

          <!--   Contract related tabs   -->
          <nb-tab *ngIf="contract && contract.abi" class="noPadding" tabTitle="Functions">
            <nb-list-item *ngFor="let func of contract.abi | filter: {type: 'function'} " class="row">
              <div class="col-md-4">
                <b>{{func.name}}</b>
                <div>{{ func.constant ? 'Constant' : 'Function'}}</div>
                <div>{{func.stateMutability}}</div>
              </div>
              <div class="col-md-5">
                <div *ngIf="func.inputs.length">
                  Parameters
                  <form>
                    <div *ngFor="let input of func.inputs" class="row">
                      <label class="col-md-3" [for]="input.name">{{input.name}}</label>
                      <input class="col-md-9" [name]="input.name" type="text" [placeholder]="input.type">
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-md-3" style="text-align: right;">
                <div>
                  Output type
                  <div>
                    <span *ngFor="let output of func.outputs">{{output.type}} </span>
                  </div>
                </div>
              </div>
            </nb-list-item>
          </nb-tab>

          <nb-tab *ngIf="address.contract && address.contract.source" class="noPadding" tabTitle="Source Code">
            <pre>
              {{'\n'+address.contract.source}}
            </pre>
          </nb-tab>

          <nb-tab *ngIf="address.contract && address.contract.bytecode" class="noPadding" tabTitle="Bytecode">
            <pre class="break-word">
              {{'\n'+address.contract.bytecode}}
            </pre>
          </nb-tab>

        </nb-tabset>
      </nb-card>
    </div>

  </div>
