@import '../../styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';
@import '~bootstrap/scss/mixins/breakpoints';

@include nb-install-component() {
  width: 100%;
  text-align: center;

  .socials {
    font-size: 2rem;

    a {
      padding: 0.4rem;
      color: nb-theme(text-hint-color);
      transition: color ease-out 0.1s;

      &:hover {
        color: nb-theme(text-basic-color);
      }
    }
  }

  div.row div {
    padding-top: 10px;
  }

  .created-by {
    margin-top: 15px;
  }

}
