<div *ngIf="!initialLoading; else spinner" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="0"
  (scrolled)="loadTxs()">
  <nb-card>
    <nb-card-header>
      Identifiable Tokens (MIT)
    </nb-card-header>
    <nb-card-body>
      <div class="row">
        <mvs-mit class="col-md-3" *ngFor="let token of tokens" [token]="token">
        </mvs-mit>
      </div>
    </nb-card-body>
  </nb-card>
</div>
<ng-template #spinner>
  <div class="loading-spinner page-spinner"></div>
</ng-template>
