<div *ngIf="!initialLoading" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="0"
  (scrolled)="loadBlocks()">
  <nb-card>
    <nb-card-header>Blocks</nb-card-header>
    <!--Display large screens-->
    <nb-list class="col-12 d-none d-md-block">
      <nb-list-item class="row">
        <div class="col-md-6">
          Hash
        </div>
        <div class="col-md-3" style="text-align: right;">
          Number
        </div>
        <div class="col-md-3" style="text-align: right;">
          Time
        </div>
      </nb-list-item>
      <nb-list-item *ngFor="let block of blocks" class="row">
        <a class="col-md-6 break-dots mono" [routerLink]="'../block/'+block.hash">
          {{ block.hash }}
        </a>
        <a class="col-md-3" style="text-align: right;" [routerLink]="'../block/'+block.number">
          {{ block.number }}
        </a>
        <div class="col-md-3" style="text-align: right;">
          {{ block.timestamp * 1000 | date : 'short' }}
        </div>
      </nb-list-item>
    </nb-list>

    <!--Display small screens-->
    <nb-list class="col-12 d-md-none">
      <nb-list-item *ngFor="let block of blocks" class="row">
        <div class="col-6">
          Block
          <a [routerLink]="'../block/'+block.number">
            {{ block.number }}
          </a>
        </div>
        <div class="col-6" style="text-align: right;">
          {{ block.timestamp * 1000 | date : 'short' }}
        </div>
        <a class="col-12 break-dots mono" [routerLink]="'../block/'+block.hash">
          {{ block.hash }}
        </a>
      </nb-list-item>
    </nb-list>
  </nb-card>
</div>
