<div *ngIf="!initialLoading; else spinner" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="0"
  (scrolled)="loadBlocks()">
  <nb-card>
    <nb-card-header translate="BLOCKS.TITLE"></nb-card-header>
    <!--Display large screens-->
    <nb-list class="col-12 d-none d-md-block">
      <nb-list-item class="row">
        <div class="col-md-6" translate="BLOCKS.HASH"></div>
        <div class="col-md-2" style="text-align: right;" translate="BLOCKS.NUMBER"></div>
        <div class="col-md-2" style="text-align: right;" translate="BLOCKS.TRANSACTIONS"></div>
        <div class="col-md-2" style="text-align: right;" translate="BLOCKS.TIME"></div>
      </nb-list-item>
      <nb-list-item *ngFor="let block of blocks" class="row">
        <a class="col-md-6 break-dots mono" [routerLink]="'../block/'+block.hash">
          {{ block.hash }}
        </a>
        <a class="col-md-2" style="text-align: right;" [routerLink]="'../block/'+block.number">
          {{ block.number }}
        </a>
        <div class="col-md-2" style="text-align: right;">
          {{ block.transactionCount }}
        </div>
        <div class="col-md-2" style="text-align: right;">
          {{ block.timestamp * 1000 | date : 'short' }}
        </div>
      </nb-list-item>
    </nb-list>

    <!--Display small screens-->
    <nb-list class="col-12 d-md-none">
      <nb-list-item *ngFor="let block of blocks" class="row">
        <div class="col-6">
          <span translate="BLOCKS.MOBILE.BLOCK"></span>
          <a [routerLink]="'../block/'+block.number">
            {{ block.number }}
          </a>
        </div>
        <div class="col-6" style="text-align: right;">
          {{ block.timestamp * 1000 | date : 'short' }}
        </div>
        <a class="col-12 break-dots mono" [routerLink]="'../block/'+block.hash">
          {{ block.hash }}
        </a>
        <div class="col-12" translate="BLOCKS.MOBILE.TRANSACTIONS" [translateParams]="{number: block.transactionCount}"></div>
      </nb-list-item>
    </nb-list>
  </nb-card>
  <div *ngIf="loading" class="loading-spinner"></div>
</div>
<ng-template #spinner>
  <div class="loading-spinner page-spinner"></div>
</ng-template>
