<div *ngIf="!loading; else spinner">
  <nb-card>
    <nb-card-header>
      <div class="row">
        <div class="col-sm-8">
          <div translate="TX.HASH"></div>
          <div class="mono break-dots">
            {{tx.hash}}
            <button nbButton ghost (click)="copyHash(tx.hash)">
              <nb-icon icon="copy-outline"></nb-icon>
            </button>
          </div>
        </div>
        <div class="col-sm-4" style="text-align: right;">
          <div>{{tx.confirmedAt * 1000 | date : 'short'}}</div>
          <a [routerLink]="'../../block/'+tx.blockNumber" translate="TX.BLOCK" [translateParams]="{number: tx.blockNumber}"></a>
        </div>
      </div>
    </nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-sm-5">
          <div translate="TX.FROM"></div>
          <a class="mono" [routerLink]="'../../address/'+tx.from">{{ tx.from }}</a>
        </div>
        <div class="col-md-2" style="text-align: center;">
          <br *ngIf="!tx.value || tx.value == 0">
          <div *ngIf="tx.value && tx.value > 0">
            {{tx.value/1000000000000000000}} ETP
          </div>
          <nb-icon *ngIf="tx.input==='0x'" [icon]="'arrow-forward-outline'"></nb-icon>
          <div *ngIf="tx.input!=='0x' && tx.to" translate="TX.CALL"></div>
          <div *ngIf="tx.creates" translate="TX.DEPLOY"></div>
        </div>

        <div class="col-sm-5" style="text-align: right;">
          <div *ngIf="tx.to">
            <div translate="TX.TO"></div>
            <a class="mono" [routerLink]="'../../address/'+tx.to">{{ tx.to }}</a>
          </div>
          <div *ngIf="tx.creates">
            <div translate="TX.CONTRACT"></div>
            <a class="mono" [routerLink]="'../../address/'+tx.creates">{{ tx.creates }}</a>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="tx.input!=='0x'">
        <div *ngIf="tx.decoded" class="col-md-12 decoded">
          <div class="break-word mono">{{tx.decoded.name}}</div>
          <div *ngFor="let arg of tx.decoded.arguments" class="break-word mono">
            {{arg.name}}:
            <span *ngIf="arg.value?.hex">{{arg.value.hex}}</span>
            <span *ngIf="!arg.value?.hex">{{arg.value}}</span>
          </div>
        </div>
        <div class="col-md-12">
          <a *ngIf="!showInputData" style="cursor: pointer; text-decoration:underline;"
            (click)="showInputData=true"></a>
        </div>
        <div *ngIf="showInputData" class="col-md-12">
          <span translate="TX.INPUT_DATA"></span>>
          <div class="break-word mono" translate="TX.SHOW_INPUT_DATA">{{tx.input}}</div>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <div style="text-align: right;">
        <span translate="TX.FEES"></span>
        {{ tx.gasPrice*tx.receipt.gasUsed | decimals: [18, 6] }} ETP (~{{tx.gasPrice*tx.gas*price.current_USD | decimals: [18,6]}} USD)
      </div>
    </nb-card-footer>
  </nb-card>


  <nb-card>
    <nb-tabset>
      <nb-tab class="noPadding" [tabTitle]="'TX.TABS.DETAILS'|translate">
        <nb-list>
          <nb-list-item>
            <div class="col-md-6" translate="TX.DETAILS.STATUS"></div>
            <div class="col-md-6" style="text-align: right;">
              <div *ngIf="tx.receipt.status" translate="TX.DETAILS.SUCCESS" class="text-success"></div>
              <div *ngIf="!tx.receipt.status" translate="TX.DETAILS.FAILED" class="text-danger"></div>
            </div>
          </nb-list-item>
          <nb-list-item>
            <div class="col-md-6" translate="TX.DETAILS.GAS_PRICE"></div>
            <div class="col-md-6" style="text-align: right;">
              {{ tx.gasPrice / 1000000000 }}
            </div>
          </nb-list-item>
          <nb-list-item>
            <div class="col-md-6" translate="TX.DETAILS.GAS_LIMIT"></div>
            <div class="col-md-6" style="text-align: right;">
              {{ tx.gas }}
            </div>
          </nb-list-item>
          <nb-list-item>
            <div class="col-md-6" translate="TX.DETAILS.GAS_USED"></div>
            <div class="col-md-6" style="text-align: right;">
              {{ tx.receipt.gasUsed }}
            </div>
          </nb-list-item>
        </nb-list>
      </nb-tab>
      <nb-tab *ngIf="tx.receipt.logs.length" class="noPadding" [tabTitle]="'TX.TABS.LOGS'|translate">
        <div class="log" *ngFor="let log of tx.receipt.logs">
          <div class="row">
            <div class="col-md-3" translate="TX.LOGS.ADDRESS"></div>
            <a [routerLink]="'../../address/'+log.address" class="col-md-9 break-word mono">{{log.address}}</a>
          </div>
          <div class="row">
            <div *ngIf="log.decoded" class="col-md-12 decoded">
              <div class="break-word mono">{{log.decoded.signature}}</div>
              <div *ngFor="let value of log.decoded.values" class="break-word mono row">
                <div class="col-md-3">
                  {{value.name}}
                </div>
                <div class="col-md-9">
                  <span *ngIf="value.value?.hex">{{value.value.hex}}</span>
                  <span *ngIf="!value.value?.hex">{{value.value}}</span>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="!log.decoded">
            <div class="row">
              <div class="col-md-3" translate="TX.LOGS.TOPICS"></div>
              <div class="col-md-9">
                <div class="break-word mono" *ngFor="let topic of log.topics">{{topic}}</div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3" translate="TX.LOGS.DATA"></div>
              <div class="col-md-9 break-word mono">{{log.data}}</div>
            </div>
          </div>
          <hr>
        </div>
      </nb-tab>
    </nb-tabset>
  </nb-card>

</div>
<ng-template #spinner>
  <div class="loading-spinner page-spinner"></div>
</ng-template>
