<div *ngIf="!loading">
  <nb-card>
    <nb-card-header>
      <div class="row">
        <div class="col-sm-6">
          <div>Transaction hash:</div>
          <span class="mono">{{tx.hash}}</span>
        </div>
        <div class="col-sm-6" style="text-align: right;">
          <div>{{tx.confirmedAt * 1000 | date : 'short'}}</div>
          <a [routerLink]="'../../block/'+tx.blockNumber">Block {{tx.blockNumber}}</a>
        </div>
      </div>
    </nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-sm-5">
          <div>From:</div>
          <a class="mono" [routerLink]="'../../address/'+tx.from">{{ tx.from }}</a>
        </div>
        <div class="col-md-2" style="text-align: center;">
          <br *ngIf="!tx.value || tx.value == 0">
          <div *ngIf="tx.value && tx.value > 0">
            {{tx.value/1000000000000000000}} ETP
          </div>
          <nb-icon *ngIf="tx.input==='0x'" [icon]="'arrow-forward-outline'"></nb-icon>
          <div *ngIf="tx.input!=='0x' && tx.to">calls</div>
          <div *ngIf="tx.creates">deploys</div>
        </div>

        <div class="col-sm-5" style="text-align: right;">
          <div *ngIf="tx.to">
            <div>To:</div>
            <a class="mono" [routerLink]="'../../address/'+tx.to">{{ tx.to }}</a>
          </div>
          <div *ngIf="tx.creates">
            <div>Contract:</div>
            <a class="mono" [routerLink]="'../../address/'+tx.creates">{{ tx.creates }}</a>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="tx.input!=='0x'">
        <div class="col-md-12">
          <a *ngIf="!showInputData" style="cursor: pointer; text-decoration:underline;" (click)="showInputData=true">show input data</a>
        </div>
        <div *ngIf="showInputData" class="col-md-12">
          Input data:
          <div class="break-word mono">{{tx.input}}</div>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <div style="text-align: right;">
        Fees: {{ tx.gasPrice*tx.gas | decimals: [18, 6] }} ETP (~{{tx.gasPrice*tx.gas*price.current_USD | decimals: [18,
        6]}} USD)
      </div>
    </nb-card-footer>
  </nb-card>


  <nb-card>
    <nb-tabset>
      <nb-tab class="noPadding" tabTitle="Details">
        <nb-list>
          <nb-list-item>
            <div class="col-md-6">
              Status
            </div>
            <div class="col-md-6" style="text-align: right;">
              <nb-icon *ngIf="tx.receipt.status" status="success" [icon]="'checkmark-outline'"></nb-icon>
              <nb-icon *ngIf="!tx.receipt.status" status="danger" [icon]="'close-outline'"></nb-icon>
            </div>
          </nb-list-item>
          <nb-list-item>
            <div class="col-md-6">
              Gas price
            </div>
            <div class="col-md-6" style="text-align: right;">
              {{ tx.gasPrice }}
            </div>
          </nb-list-item>
          <nb-list-item>
            <div class="col-md-6">
              Gas limit
            </div>
            <div class="col-md-6" style="text-align: right;">
              {{ tx.gas }}
            </div>
          </nb-list-item>
        </nb-list>
      </nb-tab>
      <nb-tab *ngIf="tx.receipt.logs.length" class="noPadding" tabTitle="Logs">
        <div class="log" *ngFor="let log of tx.receipt.logs">
          <div class="row">
            <div class="col-md-3">Address</div>
            <a [routerLink]="'../../address/'+log.address" class="col-md-9 break-word mono">{{log.address}}</a>
          </div>
          <div class="row">
            <div class="col-md-3">Topics</div>
            <div class="col-md-9">
              <div class="break-word mono" *ngFor="let topic of log.topics">{{topic}}</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">Data</div>
            <div class="col-md-9 break-word mono">{{log.data}}</div>
          </div>
          <hr>
        </div>
      </nb-tab>
    </nb-tabset>
  </nb-card>

</div>
