<div *ngIf="!initialLoading" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="0" (scrolled)="onScroll()">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Transactions</nb-card-header>
      <nb-list>
        <nb-list-item>
          <div class="col-md-3">
            Hash
          </div>
          <div class="col-md-2">
            Block
          </div>
          <div class="col-md-2 break-dots">
            From
          </div>
          <div class="col-md-1 break-dots">
          </div>
          <div class="col-md-2 break-dots">
            To
          </div>
          <div class="col-md-2" style="text-align: right;">
            Time
          </div>
        </nb-list-item>
        <nb-list-item *ngFor="let tx of txs">
          <a class="col-md-3 break-dots mono" [routerLink]="'../tx/'+tx.hash">
            {{ tx.hash }}
          </a>
          <a class="col-md-2" [routerLink]="'../block/'+tx.blockNumber">
            {{ tx.blockNumber }}
          </a>
          <a class="col-md-2 break-dots mono" [routerLink]="'../address/'+tx.from">
            {{ tx.from }}
          </a>
          <div class="col-md-1" style="text-align: center;">
            <nb-icon [icon]="'arrow-forward-outline'"></nb-icon>
          </div>
          <a class="col-md-2 break-dots mono" [routerLink]="'../address/'+tx.to">
            {{ tx.to }}
          </a>
          <div class="col-md-2" style="text-align: right;">
            {{ tx.confirmedAt * 1000 | date : 'short'}}
          </div>

        </nb-list-item>
      </nb-list>
    </nb-card>
  </div>

</div>
