.break-dots {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.padding-bottom {
  padding-bottom: 10px;
}

.small-screen-item {
  padding-top: 20px;
  padding-bottom: 20px;
}
