<div class="mat-typography app-frame mat-app-background">

<mat-toolbar fxLayout="row column" fxLayoutAlign="space-between center">
  <div routerLink="/">
    <img width="40" alt="Metaverse Logo" src="/assets/logo.png" />
  </div>
  <div fxHide.lt-lg>
    <span [hidden]="showTopbar">MetaverseVM Explorer</span>
    <app-search [hidden]="!showTopbar" class="full-width"></app-search>
  </div>
  <div>
    <mat-form-field>
      <mat-select [(value)]="selected" (selectionChange)="setNetwork($event)">
        <mat-option *ngFor="let network of explorer.networks" [value]="network.name">
          {{network.label}}
        </mat-option>
      </mat-select>
      </mat-form-field>
    <!-- <a (click)="explorer.toggleNetwork()">{{(explorer.network$|async)?.label}}</a> -->
  </div>
</mat-toolbar>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>

</div>
