<mat-form-field class="full-width">
  <mat-label>Search for Transaction / Block Number / Address</mat-label>
  <input matInput class="full-width" placeholder="0x..." [(ngModel)]="value">
</mat-form-field>
<button mat-button class="full-width" color="primary" (click)="showBlock(value)" *ngIf="isBlockNumber(value)">Show Block</button>
<button mat-button class="full-width" color="primary" (click)="showAddress(value)" *ngIf="isAddress(value)">Show Address</button>
<button mat-button class="full-width" color="primary" (click)="showTransaction(value)" *ngIf="isTransactionHash(value)">Show Transaction</button>
