<div *ngIf="block$|async as block">
  <h1>
    Block #{{block.number}}
  </h1>
  <div fxLayout="row" fxLayoutAlign="space-between begin">
    <a *ngIf="block.number>0" [routerLink]="'/block/'+(block.number-1)">
      < previous block </a>
        <div *ngIf="block.number<=0"></div>
        <a [routerLink]="'/block/'+(block.number+1)">next block ></a>
  </div>
  <app-block-details [block]="block"></app-block-details>
</div>
<div *ngIf="(block$|async) === null">Block {{blockNo$|async}} not found on {{(explorer.network$|async)?.label}}</div>
