<div *ngIf="block$|async as block">
  <div fxLayout="row" fxLayoutAlign="space-between begin">
    <button mat-button *ngIf="block.number>0" [routerLink]="'/block/'+(block.number-1)">
      <mat-icon>keyboard_arrow_left</mat-icon>
      previous block
    </button>
    <button mat-button *ngIf="block.number>0" [routerLink]="'/block/'+(block.number+1)">
      next block
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
  <h1>
    Block #{{block.number}}
  </h1>
  <h2>Details</h2>
  <app-block-details [block]="block"></app-block-details>
  <h2>Transactions</h2>
  <app-transaction-list [transactions]="transactions$|async"></app-transaction-list>
</div>
<div *ngIf="(block$|async) === null">Block {{blockNo$|async}} not found on {{(explorer.network$|async)?.label}}</div>
