<div *ngIf="!loading; else spinner">
  <nb-card>
    <nb-card-header>Metaverse Smart Tokens (MST)</nb-card-header>
    <nb-list>
      <nb-list-item>
        <div class="col-md-1">
        </div>
        <div class="col-md-4">
          Name
        </div>
        <div class="col-md-2">
          Symbol
        </div>
        <div class="col-md-4">
          Address
        </div>
        <div class="col-md-1" style="text-align: right;">
          Decimals
        </div>
      </nb-list-item>
      <nb-list-item *ngFor="let mst of msts">
        <div class="col-md-1">
          <img [src]="mst.logoURI" [alt]="mst.symbol" height=32 width=32>
        </div>
        <div class="col-md-4">
          {{ mst.name }}
        </div>
        <div class="col-md-2">
          {{ mst.symbol }}
        </div>
        <a class="col-md-4 mono break-dots" [routerLink]="'../address/'+mst.address">
          {{ mst.address }}
        </a>
        <div class="col-md-1" style="text-align: right;">
          {{ mst.decimals }}
        </div>
      </nb-list-item>
    </nb-list>
  </nb-card>
</div>
<div *ngIf="pairs">
  <nb-card>
    <nb-card-header>Pairs</nb-card-header>
    <nb-list>
      <nb-list-item>
        <div class="col-md-2">
          Pair
        </div>
        <div class="col-md-2" style="text-align: right;">
          Liquidity (USD)
        </div>
        <div class="col-md-3" style="text-align: right;">
          Liquidity
        </div>
        <div class="col-md-2" style="text-align: right;">
          24h Tx Count
        </div>
        <div class="col-md-3" style="text-align: right;">
          24h Trading Volume (USD)
        </div>
      </nb-list-item>
      <nb-list-item *ngFor="let pair of pairs">
        <div class="col-md-2">
          {{ pair.token0.symbol }}_{{ pair.token1.symbol }}
        </div>
        <a class="col-md-2" style="text-align: right;">
          {{ pair.reserveUSD | currency : ' ' }}
        </a>
        <div class="col-md-3" style="text-align: right;">
          {{ pair.reserve1 | currency : ' ' }} {{ pair.token1.symbol }}
        </div>
        <div class="col-md-2" style="text-align: right;">
          {{ pair.txs24h }}
        </div>
        <div class="col-md-3" style="text-align: right;">
          {{ pair.volumeUSD24h | currency : ' ' }}
        </div>
      </nb-list-item>
    </nb-list>
  </nb-card>
</div>
<ng-template #spinner>
  <div class="loading-spinner page-spinner"></div>
</ng-template>
