<div *ngIf="!loading; else spinner">
  <nb-card>
    <nb-card-header translate="MSTS.TITLE"></nb-card-header>

    <!--Display large screens-->
    <nb-list class="d-none d-md-block">
      <nb-list-item>
        <div class="col-md-1"></div>
        <div class="col-md-4" translate="MSTS.NAME"></div>
        <div class="col-md-2" translate="MSTS.SYMBOL"></div>
        <div class="col-md-4" translate="MSTS.ADDRESS"></div>
        <div class="col-md-1" translate="MSTS.DECIMALS" style="text-align: right;"></div>
      </nb-list-item>
      <nb-list-item *ngFor="let mst of msts">
        <div class="col-md-1">
          <img [src]="mst.logoURI" [alt]="mst.symbol" height=32 width=32>
        </div>
        <div class="col-md-4">
          {{ mst.name }}
        </div>
        <div class="col-md-2">
          {{ mst.symbol }}
        </div>
        <a class="col-md-4 mono break-dots" [routerLink]="'../address/'+mst.address">
          {{ mst.address }}
        </a>
        <div class="col-md-1" style="text-align: right;">
          {{ mst.decimals }}
        </div>
      </nb-list-item>
    </nb-list>

    <!--Display small screens-->
    <nb-list class="small-screen-list d-md-none">
      <nb-list-item *ngFor="let mst of msts">
        <div class="col-2">
          <img [src]="mst.logoURI" [alt]="mst.symbol" height=32 width=32>
        </div>
        <div class="col-10">
          <div class="col-12">
            {{ mst.name }}
          </div>
          <div class="col-12 mono break-dots">
            <a [routerLink]="'../address/'+mst.address">
              {{ mst.address }}
            </a>
          </div>
          <div class="col-12">
            <span translate="MSTS.SYMBOL"></span>: {{ mst.symbol }}
          </div>
          <div class="col-12">
            <span translate="MSTS.DECIMALS"></span>: {{ mst.decimals }}
          </div>
        </div>
      </nb-list-item>
    </nb-list>

  </nb-card>
</div>
<div *ngIf="pairs">
  <nb-card>
    <nb-card-header translate="MSTS.PAIRS.TITLE"></nb-card-header>

    <!--Display large screens-->
    <nb-list class="d-none d-md-block">
      <nb-list-item>
        <div class="col-md-2" translate="MSTS.PAIRS.PAIR"></div>
        <div class="col-md-2" translate="MSTS.PAIRS.LIQUIDITY_USD" style="text-align: right;"></div>
        <div class="col-md-3" translate="MSTS.PAIRS.LIQUIDITY" style="text-align: right;"></div>
        <div class="col-md-2" translate="MSTS.PAIRS.TX_COUNT" style="text-align: right;"></div>
        <div class="col-md-3" translate="MSTS.PAIRS.VOLUME" style="text-align: right;"></div>
      </nb-list-item>
      <nb-list-item *ngFor="let pair of pairs">
        <div class="col-md-2">
          {{ pair.token0.symbol }}_{{ pair.token1.symbol }}
        </div>
        <a class="col-md-2" style="text-align: right;">
          {{ pair.reserveUSD | currency : ' ' }}
        </a>
        <div class="col-md-3" style="text-align: right;">
          {{ pair.reserve1 | currency : ' ' }} {{ pair.token1.symbol }}
        </div>
        <div class="col-md-2" style="text-align: right;">
          {{ pair.txs24h }}
        </div>
        <div class="col-md-3" style="text-align: right;">
          {{ pair.volumeUSD24h | currency : ' ' }}
        </div>
      </nb-list-item>
    </nb-list>

    <!--Display small screens-->
    <nb-list class="d-md-none">
      <nb-list-item *ngFor="let pair of pairs" class="row">
        <div class="col-12">
          <b>{{ pair.token0.symbol }}_{{ pair.token1.symbol }}</b>
        </div>
        <a class="col-12">
          <span translate="MSTS.PAIRS.LIQUIDITY_USD"></span>: {{ pair.reserveUSD | currency : ' ' }}
        </a>
        <div class="col-12">
          <span translate="MSTS.PAIRS.LIQUIDITY"></span>: {{ pair.reserve1 | currency : ' ' }} {{ pair.token1.symbol }}
        </div>
        <div class="col-12">
          <span translate="MSTS.PAIRS.TX_COUNT"></span>: {{ pair.txs24h }}
        </div>
        <div class="col-12">
          <span translate="MSTS.PAIRS.VOLUME"></span>: {{ pair.volumeUSD24h | currency : ' ' }}
        </div>
      </nb-list-item>
    </nb-list>
  </nb-card>
</div>
<ng-template #spinner>
  <div class="loading-spinner page-spinner"></div>
</ng-template>
