<div *ngIf="!loading; else spinner">
  <nb-card>
    <nb-card-header>
      <div class="row">
        <div class="col-md-6">
          <a [routerLink]="'../'+(block.number-1)">
            <nb-icon [icon]="'arrow-back-outline'"></nb-icon>
          </a>
          Block #{{ block.number }}
          <a [routerLink]="'../'+(block.number+1)">
            <nb-icon [icon]="'arrow-forward-outline'"></nb-icon>
          </a>
          <div>
            {{block.hash}}
          </div>
        </div>
        <div class="col-md-6" style="text-align: right;">
          {{ block.timestamp * 1000 | date : 'short' }}
        </div>
      </div>
    </nb-card-header>
    <nb-list>
      <nb-list-item>
        <div class="col-md-4">
          Age
        </div>
        <div class="col-md-8">
          <ngx-timer [time]="(currentTimestamp-block.timestamp)*1000"></ngx-timer>
        </div>
      </nb-list-item>
      <nb-list-item>
        <div class="col-md-4">
          Mined by
        </div>
        <a class="col-md-8 mono" [routerLink]="'../../address/'+block.miner">
          {{ block.miner }}
        </a>
      </nb-list-item>
      <nb-list-item>
        <div class="col-md-4">
          Gas used
        </div>
        <div class="col-md-8">
          {{ block.gasUsed }}
        </div>
      </nb-list-item>
      <nb-list-item>
        <div class="col-md-4">
          Parent hash
        </div>
        <a class="col-md-8 mono" [routerLink]="['..',block.parentHash]">
          {{ block.parentHash }}
        </a>
      </nb-list-item>
      <nb-list-item>
        <div class="col-md-4">
          Size
        </div>
        <div class="col-md-8">
          {{ block.size }} bytes
        </div>
      </nb-list-item>
    </nb-list>
  </nb-card>
  <nb-card>
    <nb-card-header>Transactions</nb-card-header>
    <nb-list *ngIf="!(block.transactions && block.transactions.length>0)">
      <nb-list-item>
        No transactions in this block
      </nb-list-item>
    </nb-list>
    <nb-list *ngIf="block.transactions && block.transactions.length>0">
      <nb-list-item>
        <div class="col-md-3">
          Hash
        </div>
        <div class="col-md-3 break-dots">
          From
        </div>
        <div class="col-md-1 break-dots">
        </div>
        <div class="col-md-3 break-dots">
          To
        </div>
      </nb-list-item>
      <nb-list-item *ngFor="let tx of block.transactions">
        <a class="col-md-3 break-dots mono" [routerLink]="'../../tx/'+tx.hash">
          {{ tx.hash }}
        </a>
        <a class="col-md-3 break-dots mono" [routerLink]="'../../address/'+tx.from">
          {{ tx.from }}
        </a>
        <div class="col-md-1" style="text-align: center;">
          <div *ngIf="tx.value && tx.value > 0">{{ tx.value | decimals : [18] }} ETP</div>
          <nb-icon [icon]="'arrow-forward-outline'"></nb-icon>
        </div>
        <a class="col-md-3 break-dots mono" [routerLink]="'../../address/'+tx.to">
          {{ tx.to }}
        </a>

      </nb-list-item>
    </nb-list>
  </nb-card>
</div>
<ng-template #spinner>
  <div class="loading-spinner page-spinner"></div>
</ng-template>
