<div *ngIf="!loading; else spinner">
  <nb-card>
    <nb-card-header>
      <div class="row">
        <div class="col-md-6">
          <a [routerLink]="'../'+(block.number-1)">
            <nb-icon [icon]="'arrow-back-outline'"></nb-icon>
          </a>
          <span translate="BLOCK.NUMBER" [translateParams]="{number: block.number}"></span>
          <a [routerLink]="'../'+(block.number+1)">
            <nb-icon [icon]="'arrow-forward-outline'"></nb-icon>
          </a>
          <div class="break-word">
            {{block.hash}}
            <button nbButton ghost (click)="copyHash(block.hash)">
              <nb-icon icon="copy-outline"></nb-icon>
            </button>
          </div>
        </div>
        <div class="col-md-6" style="text-align: right;">
          {{ block.timestamp * 1000 | date : 'short' }}
        </div>
      </div>
    </nb-card-header>
    <nb-list class="top-card-list">
      <nb-list-item>
        <div class="col-md-4" translate="BLOCK.AGE"></div>
        <div class="col-md-8">
          <ngx-timer [time]="(currentTimestamp-block.timestamp)*1000"></ngx-timer>
        </div>
      </nb-list-item>
      <nb-list-item>
        <div class="col-md-4" translate="BLOCK.MINED_BY"></div>
        <a class="col-md-8 mono break-dots" [routerLink]="'../../address/'+block.miner">
          {{ block.miner }}
        </a>
      </nb-list-item>
      <nb-list-item>
        <div class="col-md-4" translate="BLOCK.GAS_USED"></div>
        <div class="col-md-8">
          {{ block.gasUsed }}
        </div>
      </nb-list-item>
      <nb-list-item>
        <div class="col-md-4" translate="BLOCK.PARENT_HASH"></div>
        <a class="col-md-8 mono break-dots" [routerLink]="['..',block.parentHash]">
          {{ block.parentHash }}
        </a>
      </nb-list-item>
      <nb-list-item>
        <div class="col-md-4" translate="BLOCK.SIZE"></div>
        <div class="col-md-8" translate="BLOCK.SIZE_VALUE" [translateParams]="{value: block.size}"></div>
      </nb-list-item>
    </nb-list>
  </nb-card>
  <nb-card>
    <nb-card-header translate="BLOCK.TRANSACTIONS.TITLE"></nb-card-header>
    <nb-list *ngIf="!(block.transactions && block.transactions.length>0)" class="col-12">
      <nb-list-item translate="BLOCK.TRANSACTIONS.NO_TRANSACTIONS"></nb-list-item>
    </nb-list>
    <div *ngIf="block.transactions && block.transactions.length>0">
      <!--Display large screens-->
      <nb-list class="d-none d-md-block">
        <nb-list-item>
          <div class="col-md-3" translate="BLOCK.TRANSACTIONS.HASH"></div>
          <div class="col-md-3 break-dots" translate="BLOCK.TRANSACTIONS.FROM"></div>
          <div class="col-md-1 break-dots"></div>
          <div class="col-md-3 break-dots" translate="BLOCK.TRANSACTIONS.TO"></div>
        </nb-list-item>
        <nb-list-item *ngFor="let tx of block.transactions">
          <a class="col-md-3 break-dots mono" [routerLink]="'../../tx/'+tx.hash">
            {{ tx.hash }}
          </a>
          <a class="col-md-3 break-dots mono" [routerLink]="'../../address/'+tx.from">
            {{ tx.from }}
          </a>
          <div class="col-md-1" style="text-align: center;">
            <div *ngIf="tx.value && tx.value > 0">{{ tx.value | decimals : [18] }} ETP</div>
            <nb-icon [icon]="'arrow-forward-outline'"></nb-icon>
          </div>
          <a class="col-md-3 break-dots mono" [routerLink]="'../../address/'+tx.to">
            {{ tx.to }}
          </a>
        </nb-list-item>
      </nb-list>

      <!--Display small screens-->
      <nb-list class="d-md-none">
        <nb-list-item *ngFor="let tx of block.transactions" class="row small-screen-item">
          <a class="col-12 break-dots mono padding-bottom" [routerLink]="'../../tx/'+tx.hash">
            {{ tx.hash }}
          </a>
          <div class="col-12" translate="BLOCK.TRANSACTIONS.MOBILE.FROM"></div>
          <a class="col-12 break-dots mono" [routerLink]="'../../address/'+tx.from">
            {{ tx.from }}
          </a>
          <div class="col-12" style="text-align: center;">
            <nb-icon [icon]="'arrow-downward-outline'"></nb-icon>
          </div>
          <div class="col-12" translate="BLOCK.TRANSACTIONS.MOBILE.TO"></div>
          <a class="col-md-12 break-dots mono padding-bottom" [routerLink]="'../../address/'+tx.to">
            {{ tx.to }}
          </a>
        </nb-list-item>
      </nb-list>
    </div>

  </nb-card>
</div>
<ng-template #spinner>
  <div class="loading-spinner page-spinner"></div>
</ng-template>
