<div *ngIf="!loading; else spinner">
  <nb-card>
    <nb-card-header>Price</nb-card-header>
    <nb-card-body class="row">
      <div class="col-sm-4 price-info" style="text-align: center;">
        <b>current</b><br>
        {{price.current_USD | currency : ' ' :'symbol':'0.2-4'}} $
      </div>
      <div class="col-sm-4 price-info" style="text-align: center;">
        <b>24h change</b><br>
        {{price.change24h_USD | currency : ' ' :'symbol':'0.2-4'}} $
        ({{(price.current_USD/(price.current_USD-price.change24h_USD)-1)*100 | number}}%)
      </div>
      <div class="col-sm-4 price-info" style="text-align: center;">
        <b>7d change</b><br>
        {{price.change7d_USD | currency : ' ' :'symbol':'0.2-4' }} $
        ({{(price.current_USD/(price.current_USD-price.change7d_USD)-1)*100 | number}}%)
      </div>
    </nb-card-body>
  </nb-card>
  <nb-card>
    <nb-card-header>
      Trending dApps on the MetaverseVM
    </nb-card-header>
      <div class="dapp-list">
        <a [href]="dapp.url" [ngStyle]="{'background-color': dapp.bg,  'background-image': dapp.gradient}" target="_blank" rel="noopener noreferrer" class="dapp-item" *ngFor="let dapp of dapps">
          <img [src]="dapp.image" class="logo" [alt]="dapp.name">
          <p *ngIf="dapp.description" [innerText]="dapp.description"></p>
        </a>
      </div>
  </nb-card>
  <div class="row">
    <div class="col-md-6">
      <nb-card>
        <nb-card-header>Latest Blocks</nb-card-header>
        <nb-list>
          <nb-list-item>
            <div class="col-md-6">
              Hash
            </div>
            <div class="col-md-2" style="text-align: right;">
              Number
            </div>
            <div class="col-md-4" style="text-align: right;">
              Time
            </div>
          </nb-list-item>
          <nb-list-item *ngFor="let block of blocks">
            <a class="col-md-6 break-dots mono" [routerLink]="'../block/'+block.hash">
              {{ block.hash }}
            </a>
            <a class="col-md-2" style="text-align: right;" [routerLink]="'../block/'+block.number">
              {{ block.number }}
            </a>
            <div class="col-md-4 break-dots" style="text-align: right;">
              <ngx-timer [time]="(currentTimestamp-block.timestamp)*1000"></ngx-timer>
            </div>
          </nb-list-item>
        </nb-list>
      </nb-card>
    </div>
    <div class="col-md-6">
      <nb-card>
        <nb-card-header>Latest Transactions</nb-card-header>
        <nb-list>
          <nb-list-item>
            <div class="col-md-5">
              Hash
            </div>
            <div class="col-md-5">
              From
            </div>
            <div class="col-md-2" style="text-align: right;">
              Height
            </div>
          </nb-list-item>
          <nb-list-item *ngFor="let tx of txs">
            <a class="col-md-5 break-dots mono" [routerLink]="'../tx/'+tx.hash">
              {{ tx.hash }}
            </a>
            <a class="col-md-5 break-dots mono" [routerLink]="'../address/'+tx.from">
              {{ tx.from }}
            </a>
            <a class="col-md-2" style="text-align: right;" [routerLink]="'../block/'+tx.blockNumber">
              {{ tx.blockNumber }}
            </a>
          </nb-list-item>
        </nb-list>
      </nb-card>
    </div>
  </div>
</div>
<ng-template #spinner>
  <div class="loading-spinner page-spinner"></div>
</ng-template>
