<div *ngIf="(infoData$|async)?.data as data; else spinner">
  <nb-card *ngIf="data?.price as price">
    <nb-card-header translate="START.PRICE.TITLE"></nb-card-header>
    <nb-card-body class="row">
      <div class="col-sm-4 price-info" style="text-align: center;">
        <b translate="START.PRICE.CURRENT"></b><br>
        {{price.current_USD | currency : ' ' :'symbol':'0.2-4'}} $
      </div>
      <div class="col-sm-4 price-info" style="text-align: center;">
        <b translate="START.PRICE.24H_CHANGE"></b><br>
        {{price.change24h_USD | currency : ' ' :'symbol':'0.2-4'}} $
        ({{(price.current_USD/(price.current_USD-price.change24h_USD)-1)*100 | number}}%)
      </div>
      <div class="col-sm-4 price-info" style="text-align: center;">
        <b translate="START.PRICE.7D_CHANGE"></b><br>
        {{price.change7d_USD | currency : ' ' :'symbol':'0.2-4' }} $
        ({{(price.current_USD/(price.current_USD-price.change7d_USD)-1)*100 | number}}%)
      </div>
    </nb-card-body>
  </nb-card>
  <nb-card>
    <nb-card-header translate="START.DAPPS.TITLE"></nb-card-header>
    <div class="dapp-list">
      <a [href]="dapp.url" [ngStyle]="{'background-color': dapp.bg,  'background-image': dapp.gradient}" target="_blank"
        rel="noopener noreferrer" class="dapp-item" *ngFor="let dapp of dapps">
        <img [src]="dapp.image" class="logo" [alt]="dapp.name">
        <p *ngIf="dapp.description" [innerText]="dapp.description"></p>
      </a>
    </div>
  </nb-card>

  <div class="row">
    <div class="col-md-12 col-lg-6">
      <nb-card>
        <nb-card-header translate="START.BLOCKS.TITLE"></nb-card-header>
        <!--Display large screens-->
        <nb-list class="d-none d-md-block">
          <nb-list-item>
            <div class="col-md-6" translate="START.BLOCKS.HASH"></div>
            <div class="col-md-2" translate="START.BLOCKS.NUMBER" style="text-align: right;"></div>
            <div class="col-md-4" translate="START.BLOCKS.TIME" style="text-align: right;"></div>
          </nb-list-item>
          <nb-list-item *ngFor="let block of data.blocks">
            <a class="col-md-6 break-dots mono" [routerLink]="'../block/'+block.hash">
              {{ block.hash }}
            </a>
            <a class="col-md-2" style="text-align: right;" [routerLink]="'../block/'+block.number">
              {{ block.number }}
            </a>
            <div class="col-md-4 break-dots" style="text-align: right;">
              <ngx-timer [time]="(currentTimestamp-block.timestamp)*1000"></ngx-timer>
            </div>
          </nb-list-item>
        </nb-list>

        <!--Display small screens-->
        <nb-list class="d-md-none">
          <nb-list-item *ngFor="let block of data.blocks" class="row">
            <div class="col-6">
              <span translate="START.BLOCKS.MOBILE.NUMBER"></span>
              <a [routerLink]="'../block/'+block.number">
                {{ block.number }}
              </a>
            </div>
            <div class="col-6" style="text-align: right;">
              {{ block.timestamp * 1000 | date : 'short' }}
            </div>
            <a class="col-12 break-dots mono" [routerLink]="'../block/'+block.hash">
              {{ block.hash }}
            </a>
          </nb-list-item>
        </nb-list>
      </nb-card>
    </div>
    <div class="col-md-12 col-lg-6">
      <nb-card>
        <nb-card-header translate="START.TRANSACTIONS.TITLE"></nb-card-header>

        <!--Display large screens-->
        <nb-list class="d-none d-md-block">
          <nb-list-item>
            <div class="col-md-5" translate="START.TRANSACTIONS.HASH"></div>
            <div class="col-md-5" translate="START.TRANSACTIONS.FROM"></div>
            <div class="col-md-2" translate="START.TRANSACTIONS.HEIGHT" style="text-align: right;"></div>
          </nb-list-item>
          <nb-list-item *ngFor="let tx of data.txs">
            <a class="col-md-5 break-dots mono" [routerLink]="'../tx/'+tx.hash">
              {{ tx.hash }}
            </a>
            <a class="col-md-5 break-dots mono" [routerLink]="'../address/'+tx.from">
              {{ tx.from }}
            </a>
            <a class="col-md-2" style="text-align: right;" [routerLink]="'../block/'+tx.blockNumber">
              {{ tx.blockNumber }}
            </a>
          </nb-list-item>
        </nb-list>

        <!--Display small screens-->
        <nb-list class="d-md-none">
          <nb-list-item *ngFor="let tx of data.txs" class="row small-screen-item">
            <div class="col-6">
              <span translate="START.TRANSACTIONS.MOBILE.BLOCK"></span>
              <a [routerLink]="'../block/'+tx.blockNumber">
                {{ tx.blockNumber }}
              </a>
            </div>
            <div class="col-6" style="text-align: right;">
              {{ tx.confirmedAt * 1000 | date : 'short'}}
            </div>

            <a class="col-12 break-dots mono padding-bottom" [routerLink]="'../tx/'+tx.hash">
              {{ tx.hash }}
            </a>
            <div class="col-12" translate="START.TRANSACTIONS.MOBILE.FROM"></div>
            <a class="col-12 break-dots mono" [routerLink]="'../address/'+tx.from">
              {{ tx.from }}
            </a>
            <div class="col-12" style="text-align: center;">
              <nb-icon [icon]="'arrow-forward-outline'"></nb-icon>
            </div>
            <div class="col-12" translate="START.TRANSACTIONS.MOBILE.TO" style="text-align: right;"></div>
            <a class="col-md-12 break-dots mono padding-bottom" style="text-align: right;"
              [routerLink]="'../address/'+tx.to">
              {{ tx.to }}
            </a>

          </nb-list-item>
        </nb-list>
      </nb-card>
    </div>
  </div>
</div>
<ng-template #spinner>
  <div class="loading-spinner page-spinner"></div>
</ng-template>
